* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .wrap {
    max-width: 100vh;
    margin: 1rem auto;
  }
  .grid {
    display: grid;
    height: calc(100vh - 150px);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  .grid > * {
    background: orange;
    padding: 20px;
    box-shadow: inset 0 0 0 1px #fff;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    width:80%;
    margin: auto;
  }
  .grid-container > div {
    margin:0;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: .5rem 0;
    font-size: 30px;
  }